<section  class="bg-main-light p-2 rounded-2 w-75 mx-auto shadow my-3">
<div class="container">
  <h2 class="fw-bold  ">please enter your verification code</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
    <label  class="mb-2 my-2 fw-bold text-success"   for="email">Email Address:</label>
    <input  class="form-control"   id="email" type="email" formControlName="email" required />


    <div [hidden]="forgotPasswordForm.get('email')?.valid || !forgotPasswordForm.get('email')?.touched">
      <small>Please enter a valid email.</small>
    </div>

    <button type="submit" class="btn-main p-2 my-2" [disabled]="forgotPasswordForm.invalid">
      Verify
    </button>


    <p [hidden]="!message" class="success">{{ message }}</p>
    <p [hidden]="!error" class="error">{{ error }}</p>
  </form>

  <a  class="cursor-pointer forget" routerLink="/login">Back to Login</a>

</div>
</section>
