<section class="bg-main-light p-2 rounded-2 w-75 mx-auto shadow my-3">
<h1 class="text-main">Register Now:</h1>
@if (resText) {<p class="alert alert-danger p-2 text-center rounded w-50 mx-auto">{{resText}}</p>}
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">

<div class="my-2">
<label class="mb-1" for="name"> <span class="text-danger">*</span> Name:</label>
<input   [ngClass]="{'is-valid':!registerForm.get('name')?.errors && (registerForm.get('name')?.touched  || registerForm.get('name')?.dirty) ,
'is-invalid':registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)}"
  formControlName="name" type="text" placeholder="ex:yousra" id="name" class="form-control">

@if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
<div class="alert alert-warning p-2 rounded-2 my-2 fs-6 fs-bold">
@if (registerForm.get('name')?.getError('required')) {<p class="m-0">name is required</p>}
@else if (registerForm.get('name')?.getError('minlength')) {<p class="m-0">Name length must be at least 3</p>}
@else if(registerForm.get('name')?.getError('maxlength')) {<p class="m-0">Name length must be maximum 10</p>}
</div>
}

</div>
<div class="my-2">
<label class="mb-1" for="email"> <span class="text-danger">*</span> email:</label>
<input [ngClass]="{'is-valid':!registerForm.get('email')?.errors && (registerForm.get('email')?.touched  || registerForm.get('email')?.dirty) ,
'is-invalid':registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)}"
formControlName="email" type="email" placeholder="ex:yousra@gmail.com" id="email" class="form-control">

@if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
  <div class="alert alert-warning p-2 rounded-2 my-2 fs-6 fs-bold">
@if (registerForm.get('email')?.getError('required')){<p>email is required</p>}
@else if (registerForm.get('email')?.getError('email')) {<p>email format not correct </p>}
  </div>
}
</div>

<div class="my-2">
<label class="mb-1" for="password"> <span class="text-danger">*</span> password:</label>
<input [ngClass]="{'is-valid':!registerForm.get('password')?.errors && (registerForm.get('password')?.touched  || registerForm.get('password')?.dirty) ,
'is-invalid':registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)}"
 formControlName="password" type="password" placeholder="ex:1233" id="password" class="form-control">

@if (registerForm.get('password')?.errors && registerForm.get('password')?.touched ) {
<div class="alert alert-warning p-2 rounded-2 my-2 fs-6 fs-bold">
@if (registerForm.get('password')?.getError('required')) {<p>password is required</p>}
@else if (registerForm.get('password')?.getError('pattern')) {<p>password must be at least 6  </p>}
</div>
}


</div>

<div class="my-2">
<label class="mb-1" for="rePassword"> <span class="text-danger">*</span> confirm Password:</label>
<input [ngClass]="{'is-valid':!registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched  || registerForm.get('rePassword')?.dirty) ,
'is-invalid':registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty)}"
formControlName="rePassword" type="password" placeholder="ex:1233" id="rePassword" class="form-control">


@if (registerForm.getError('missMatch') && registerForm.get('rePassword')?.touched) {
<p class="alert alert-warning p-2 fs-6 m-0">confirm password is not correct</p>
}
</div>

<div class="my-2">
<label class="mb-1" for="phone"> <span class="text-danger">*</span> phone:</label>
<input [ngClass]="{'is-valid':!registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched  || registerForm.get('phone')?.dirty) ,
'is-invalid':registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)}"
formControlName="phone" type="tel" placeholder="ex:0201034355" id="phone" class="form-control">

@if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched ) {
  <div class="alert alert-warning p-2 rounded-2 my-2 fs-6 fs-bold">
  @if (registerForm.get('phone')?.getError('required')) {<p>phone is required</p>}
  @else if (registerForm.get('phone')?.getError('pattern')) {<p>phone format not correct </p>}
  </div>
  }
</div>
<button [disabled]="registerForm.invalid" type="submit" class=" w-50 btn-main mx-auto d-block">Register
  @if (loading) {<span><i class="fa-solid fa-circle-notch fa-spin"></i></span>}
</button>



</form>
</section>
